@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width:100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px 100px;
}
.logo{
    text-decoration:none;
    color:rgb(0, 255, 221);
    text-transform:uppercase;
    font-weight:700;
    font-size: 1.8em;
}
.navigation a{
    color:rgb(0, 0, 255);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    display: inline-block;
    padding-left: 25px;
 }
 .navigation a:hover{
  transform: scale(1.2);
  transition: 0.4s ease;
 }
 a:hover {
    color: rgb(255, 0, 140);
  }
  section{
    padding: 100px 200px;
  }
  .main{
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    background: transparent url(Images/KING.png) no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

  }
  .main h2{
    color: aquamarine;
    font-size: 1.4em;
    font-weight: 500;
  }
  .main h2 span{
    display:inline-block;
    margin-top: 10px;
    color:aqua;
    font-size:  3em;
    font-weight: 600;
  }
  .main h3{
    color: azure;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right:50px;
    margin-left:80px;
    text-wrap:nowrap;
  }
  .social-media-icons{
    text-wrap:nowrap;
  }
  .social-media-icons a{
    color: #f0f0f0;
    font-size: 1.7em;
    padding-right: 10px;
  }
  .main-button{
    color:white;
    text-wrap:nowrap;
    background-color:aqua;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    border-radius: 15px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-right: 30px;
    transition: 0.9s ease;
  }
  .main-button:hover{
    background-color: aquamarine;
    transform:scale(1.08);
  }
